.App{
    margin: 20px;
    height: 90vh;
}

.flex-container {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    height: 80vh;
}

.header1 {
    font-size: 28px;
    font-weight: 600;
}

.div1 {
    width: 30%;
    font-weight: 500;
}

.div2 {
    width: 70%;
    font-weight: 500;
}

.div2-1 {
    display: flex;
    justify-content: space-between;
}

.div2-1-1 {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 70%;
    align-items: start;
}


.div2-1-1 .form-control{
    width: 35% !important;
    margin: -12px 0px 0px 0px;
    border-radius: 8px;
}

.div1 textarea.form-control{
    border-radius: 0px;
    border: 1px solid #bbbbbb;
    height: 100%;
}

.jviewer {
    border: 1px solid #bbbbbb;
    height: 100%;
    overflow: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    justify-content: center;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #bbbbbb3b;
 }

 .footer-link {
    color: #898c8e;
    text-decoration: none;
  }
  
  .footer-link:hover {
    color: #585c5e;
  }
